table.table.table-bordered.table-hover
    thead
        tr
            th STT
            th Ngày chấm công
            th Thời gian checkin
            th Thời gian checkout
            th Thời gian đi muộn
            th Trạng thái
            //- th
    tbody#tbodyTableAdmin
        if listTimekeeping.length <=0        
            tr
                td(colspan='6' style='text-align: center;') Chưa có chấm công nào.
        else
            each item in listTimekeeping
                tr
                    td #{STT=STT+1}
                    td #{item.date_timekeeping}
                    td #{Math.floor(item.time_checkin/60)+":"+item.time_checkin%60}
                    td #{Math.floor(item.time_checkout/60)+":"+item.time_checkout%60}
                    td #{item.time_late}
                    td #{item.status==0?"Chưa checkout":"Checkout thành công"}
                
#paginateAdmin.row.float-right(style='margin-right:10px ')
    if pageCount>=1
        if  pages.prev>0
            button.btn.page-item(onclick='searchTimekeeping(1)')
                i.fas.fa-angle-double-left
            button.btn.page-item(onclick='searchTimekeeping('+pages.prev+')')
                i.fas.fa-chevron-left
        if pages
            each page in pages.pages
                if page==currentPage
                    button#paginateActive.btn.page-item(onclick='searchTimekeeping('+page+')') #{page}
                else
                    button.btn.page-item(onclick='searchTimekeeping('+page+')') #{page}                    
        if  pages.next <= pageCount
            button.btn.page-item(onclick='searchTimekeeping('+pages.next+')')
                i.fas.fa-chevron-right
            button.btn.page-item(onclick='searchTimekeeping('+pageCount+')')
                i.fas.fa-angle-double-right