table.table.table-bordered.table-hover
    thead
        tr
            th STT
            th Họ và tên  
            th Số điện thoại
            th Ngày sinh
            th Email
            th Giới tính
            th Vị trí
            th
    tbody#tbodyTableEmployee
        if employees.length <=0        
            tr
                td(colspan='8' style='text-align: center;') Chưa có sinh viên nào.
        else
            each item in employees
                tr
                    td #{STT=STT+1}
                    td #{item.first_name+" "+item.last_name}
                    td #{item.phone}
                    td #{item.birthday}
                    td #{item.email}
                    td #{item.gener==1?'Nam':'Nữ'}
                    td #{item.position==0?"Nhân viên":"Sếp"}
                    td
                        //- button#detailStu.btn.btn-primary(type='button' onclick='detailStudent('+item.id+')')
                        //-     i.fas.fa-info-circle
                        button#editStu.btn.btn-success(type='button' onclick='editStudent('+item.id+')')
                            i.far.fa-edit 
                        button#deleteStu.btn.btn-danger(type='button' title='Xóa Danh Mục' onclick='deleteStudent('+item.id+')')
                            i.far.fa-trash-alt
#paginateEmployee.row.float-right
    if pageCount>=1
        if !search
            if  pages.prev>0
                button.btn.page-item(onclick='getStudent(1)')
                    i.fas.fa-angle-double-left
                button.btn.page-item(onclick='getStudent('+pages.prev+')')
                    i.fas.fa-chevron-left
            if pages.pages
                each page in pages.pages
                    if(page==currentPage)
                        button#paginateActive.btn.page-item(onclick='getStudent('+page+')') #{page}
                    else
                        button.btn.page-item(onclick='getStudent('+page+')') #{page}                        
            if  pages.next <= pageCount
                button.btn.page-item(onclick='getStudent('+pages.next+')')
                    i.fas.fa-chevron-right
                button.btn.page-item(onclick='getStudent('+pageCount+')')
                    i.fas.fa-angle-double-right
        else
            if  pages.prev>0
                button.btn.page-item(onclick='searchStudent(1)')
                    i.fas.fa-angle-double-left
                button.btn.page-item(onclick='searchStudent('+pages.prev+')')
                    i.fas.fa-chevron-left
            if pages
                each page in pages.pages
                    if page==currentPage
                        button#paginateActive.btn.page-item(onclick='searchStudent('+page+')') #{page}
                    else
                        button.btn.page-item(onclick='searchStudent('+page+')') #{page}                    
            if  pages.next <= pageCount
                button.btn.page-item(onclick='searchStudent('+pages.next+')')
                    i.fas.fa-chevron-right
                button.btn.page-item(onclick='searchStudent('+pageCount+')')
                    i.fas.fa-angle-double-right