table.table.table-bordered.table-hover
    thead
        tr
            th STT
            th Mã nhân viên
            th Họ và tên  
            th Số điện thoại
            th Ngày sinh
            th Email
            th Giới tính
            th Bộ phận
            th Vị trí
            th
    tbody#tbodyTableEmployee
        if employees.length <=0        
            tr
                td(colspan='8' style='text-align: center;') Chưa có nhân viên nào.
        else
            each item in employees
                tr
                    td #{STT=STT+1}
                    td #{item.employee_code}
                    td #{item.first_name+" "+item.last_name}               
                    td #{item.phone}
                    td #{item.birthday}
                    td #{item.email}
                    td #{item.gener==1?'Nam':'Nữ'}
                    td #{item.department}
                    td #{item.position}
                    td
                        button.edit.btn.btn-success(type='button' onclick='editEmployee('+JSON.stringify(item)+')')
                            i.far.fa-edit 
                        button.delete.btn.btn-danger(type='button' title='Xóa Danh Mục' onclick='deleteEmployee('+item.id+')')
                            i.far.fa-trash-alt
#paginateEmployee.row.float-right
    if pageCount>=1
        if  pages.prev>0
            button.btn.page-item(onclick='searchEmployee(1)')
                i.fas.fa-angle-double-left
            button.btn.page-item(onclick='searchEmployee('+pages.prev+')')
                i.fas.fa-chevron-left
        if pages
            each page in pages.pages
                if page==currentPage
                    button#paginateActive.btn.page-item(onclick='searchEmployee('+page+')') #{page}
                else
                    button.btn.page-item(onclick='searchEmployee('+page+')') #{page}                    
        if  pages.next <= pageCount
            button.btn.page-item(onclick='searchEmployee('+pages.next+')')
                i.fas.fa-chevron-right
            button.btn.page-item(onclick='searchEmployee('+pageCount+')')
                i.fas.fa-angle-double-right